html{
  font-size:0.8em;
  word-break: keep-all;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 
}

html, body{
  height:100%;
}


> ul{
  list-style:none;
  padding:0px;
}

input{
  padding:0 10px; 
}
input::placeholder{
  color:#898989;
}

.contents{
  padding:10px 20px;
  padding-bottom:30px;

  .divider{
    height:1px;
    background:#e2e2e2;
    margin:30px 0;
  }
}

.page-title{
  margin:20px 0 30px 0;

  h2{
    font-weight:bold;
    font-size:22px;
    line-height:1.4;
  }
  p{
    font-size:14px;
    margin-top:8px;
    color:#888;
  }
}

.v-btn{
  letter-spacing:0px;
  padding:0px;
  font-size:14px;
}

body{
  margin:0px;
}

input::placeholder{
  font-size:13px;
}

textarea::placeholder{
  font-size:13px;
}


h1,h2,h3,h4,h5,h6{
  font-weight:normal;
  margin:0;
  padding:0;
}

dl,dt,dd{
  padding:0;
  margin:0;
}

ul, ol, li{
  list-style: none;
  margin:0;
  padding:0;
}

b,strong{font-weight:normal}

p{
  padding:0;
  margin:0;
}


a:link{text-decoration: none;color:#292929;}

html{
  font-family:'Roboto'
}

.v-tabs:not(.v-tabs--vertical):not(.v-tabs--right) > .v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-slide-group--has-affixes) .v-slide-group__prev{
  display:none;
}

.v-dialog{
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
  border-radius:15px;
}

.v-bottom-sheet{
  box-shadow: 0 -5px 20px rgba(0,0,0,0.1);
}

.theme--light.v-btn--active:hover::before, .theme--light.v-btn--active::before{
  opacity:0;
}
.theme--light.v-btn:hover::before{
  opacity:0;
}
